<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ArgusTV.Batch.ProcessCommand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ArgusTV.Batch.ProcessCommand.Properties.Settings>
            <setting name="ArgusTVServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ArgusTVPort" serializeAs="String">
                <value>49943</value>
            </setting>
        </ArgusTV.Batch.ProcessCommand.Properties.Settings>
    </applicationSettings>
</configuration>
