<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArgusTV.UI.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ArgusTV.UI.Console.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <ArgusTV.UI.Console.Properties.Settings>
      <setting name="LastUsedConnectionProfile" serializeAs="String">
        <value/>
      </setting>
      <setting name="ConsoleWindowPosition" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ConsoleWindowSize" serializeAs="String">
        <value>0, 0</value>
      </setting>
      <setting name="ShowSkippedRecordings" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SynchronizeExtensions" serializeAs="String">
        <value>ts;mpg;avi;wmv</value>
      </setting>
      <setting name="NextVersionCheck" serializeAs="String">
        <value/>
      </setting>
    </ArgusTV.UI.Console.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ArgusTV.UI.Console.Properties.Settings>
      <setting name="StreamRecordingsUsingRtsp" serializeAs="String">
        <value>False</value>
      </setting>
    </ArgusTV.UI.Console.Properties.Settings>
  </applicationSettings>
</configuration>
