<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginName>ClickFinder</PluginName>
  <ClickFinderConnectionString>Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Program Files\TV Movie\TV Movie ClickFinder\TVDaten.mdb;Mode=Share Deny None;Jet OLEDB:Engine Type=5;Jet OLEDB:Database Locking Mode=1;</ClickFinderConnectionString>
  <TvUptodatePath>C:\Program Files\TV Movie\TV Movie ClickFinder\tvuptodate.exe</TvUptodatePath>
  <UseShortDescription>true</UseShortDescription>
  <LaunchClickFinderBeforeImport>true</LaunchClickFinderBeforeImport>
</Config>