<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ArgusTV.Messenger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ArgusTV.Messenger.Properties.Settings>
      <setting name="ArgusTVServerName" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ArgusTVTcpPort" serializeAs="String">
        <value>49942</value>
      </setting>
      <setting name="EventsTcpPort" serializeAs="String">
        <value>49826</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Verbose</value>
      </setting>
    </ArgusTV.Messenger.Properties.Settings>
  </applicationSettings>
</configuration>
