<?xml version="1.0"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PluginName>SchedulesDirect</PluginName>
  <SDUserName></SDUserName>
  <SDPassword></SDPassword>
  <NrOfDaysToImport>7</NrOfDaysToImport>
  <LastImportedDay>20090101</LastImportedDay>
  <UpdateMode>NextDayOnly</UpdateMode>
  <ChannelNameFormat>{Name}</ChannelNameFormat>
  <UpdateChannelNames>true</UpdateChannelNames>
  <ProxyUserName />
  <ProxyPassword />
</Config>